medicare-backend/app/core/__pycache__/security.cpython-313.pyc
*.pyc
*.pyc
/medicare-backend
*.pyc
/medicare-backend
/medicare-backend/app/api/routes/__pycache__
/medicare-backend/app/api/routes
*.pyc
*.pyc
*.pyc
medicare-backend/app/api/routes/__pycache__/agendamento.cpython-313.pyc
medicare-backend/app/api/routes/__pycache__/cuidador.cpython-313.pyc
medicare-backend/app/api/routes/__pycache__/medicamento.cpython-313.pyc
medicare-backend/app/api/routes/__pycache__/residente.cpython-313.pyc
medicare-backend/app/core/__pycache__/database.cpython-313.pyc
medicare-backend/app/core/__pycache__/security.cpython-313.pyc
medicare-backend/app/deps/__pycache__/auth.cpython-313.pyc
medicare-backend/app/models/__pycache__/agendamento.cpython-313.pyc
medicare-backend/app/models/__pycache__/cuidador.cpython-313.pyc
medicare-backend/app/models/__pycache__/medicamento.cpython-313.pyc
medicare-backend/app/models/__pycache__/residente.cpython-313.pyc
medicare-backend/app/schemas/__pycache__/agendamento.cpython-313.pyc
medicare-backend/app/schemas/__pycache__/cuidador.cpython-313.pyc
medicare-backend/app/schemas/__pycache__/medicamento.cpython-313.pyc
medicare-backend/app/schemas/__pycache__/residente.cpython-313.pyc
medicare-backend/app/services/__pycache__/agendamento_service.cpython-313.pyc
medicare-backend/app/services/__pycache__/cuidador_service.cpython-313.pyc
medicare-backend/app/services/__pycache__/medicamento_service.cpython-313.pyc
medicare-backend/app/services/__pycache__/residente_service.cpython-313.pyc
*.pyc
